<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_category_collection_load_before">
        <observer name="mestrona_categoryredirect" instance="Mestrona\CategoryRedirect\Observer\FixAttributes"/>
    </event>
</config>